/*
Theme Name: Imbalance2 Child
Author: Willem Prins | SOMTIJDS
Author URI: https://arraythemes.com/
Description: This Child Theme is specifically developed for Floris Tilanus and adds WooCommerce Templates and styles.
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: imbalance2
*/

.ssi_social_media_icons_wrapper {
}

.ssi_social_media_icons {
	padding: 0;
	margin: 0.33em 0 0 0;
}

.ssi_social_media_icons img {
	margin: 0;
	padding: 0;
	height: 1.25em;
	width: 1.25em;
}

.ssi_social_media_icons li {
	list-style: none;
	display: inline;
	margin-right: 0.5em;
}

.ssi_social_media_icons li:last-child {
	margin-right: 0;
}

.ssi_social_media_icons li a {
	color: #000;
	text-decoration: none;
}

mark {
	background: none;
}

.woocommerce ul.products li.product {
	text-align: center;
} 

.woocommerce ul.products li.product .ft_grid-image-wrapper {
	min-height: 20em;
	display: flex;
	align-items: center;
}

.woocommerce ul.products li.product .ft_grid-image-wrapper img {
	max-height: 20em;
	width: auto;
	margin: auto;
}

.wp-caption,
#site-info {
	max-width: 100% !important;
}

@media screen and (max-width: 960px) {
	#search {
		float: left;
		margin-top: 1rem;
	}
	#header-right {
		margin-left: 0;
	}
	#site-info {
		width: auto;
	}
	.entry-title {
		margin-left: 0;
	}
	.entry-content {
		margin-left: 0;
		max-width: 100%;
	}
}